
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono&display=swap');
@import "tailwindcss";

.Geist-font{
  font-family: 'Geist Mono', monospace;
}


.bold {
  font-weight: 500;

}
.text-large {
  font-size: 1.3rem;
}

.serif-font {
  font-family: 'Playfair Display', serif;
}

.sans-font {
  font-family: 'Inter', sans-serif;
}